[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.18"
click = ">=6.7"

[dev-packages]
flake8 = "*"
twine = "*"

[requires]
python_version = "3.6.3"
